.no-margin{

	margin:.0px;
}

.no-padding{

	padding:.0px;

}

.site-footer{
	background-color: #222;
	color: white;
	margin-top: 30px;
	padding-top: 30px;

}

.button-footer{
	border-top: 1px solid #b2b2b2;
	margin-top: 10px;
	padding-top: 10px;
	color: #b2b2b2;
}
.footer.nav{
	text-align: center;
	list-style: none;
}
.footer-nav li{
	display: inline;
	padding: 0px 10px;

}

.footer-nav a {
	color:#b2b2b2;
}

.footer.nav a:hover{
	text-decoration: none;
color: #fff;

}